{% extends "BCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block bcplatform_body %}
    <div class="row center-align" id="viewadvert">
        <div class="s3 offset-s3">
            {# Vérification liaison image/advert #}
            {# Modif du 06/02/18 #}
            {% if advert.image is not null %}
                <img id="photoview" src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}"/>
            {% endif %}

            <h5>{{ advert.title }}</h5>
            <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

            <div class="well">
                {{ advert.content }}
            </div>
            <div class="row">
                <div class="offset-s3">
                    <p>La tente est disponible à la location dans le ville de : <span class="blue-text">{{ advert.city }}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="offset-m3">
                    <p>La tente est disponible à la location du
                        <span class="green-text darken-1">{{ advert.startdate|date('d-m-Y') }}</span>
                        au
                        <span class="red-text accent-4">{{ advert.enddate|date('d-m-Y') }}</span>
                    </p>
                </div>
            </div>
            <div id="mapid"></div>
        </div>
    </div>
    {# test map #}
    {# fin test map #}
    <div class="row center-align">
        <div class="offset-s3" id="buttonsaction">
            <a href="{{ path('bc_platform_home') }}" class="waves-effect waves-light btn-large blue"><i
                        class="material-icons left">list</i>
                Retour à la liste
            </a>
            <a href="{{ path('bc_platform_edit', {'id': advert.id}) }}"
               class="waves-effect waves-light btn-large green">
                <i class="material-icons left">mode_edit</i>
                Modifier l'annonce
            </a>
            <a href="{{ path('bc_platform_delete', {'id': advert.id}) }}"
               class="waves-effect waves-light btn-large red">
                <i class="material-icons left">delete</i>
                Supprimer l'annonce
            </a>
        </div>
    </div>
{% endblock %}
